{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">All Fasters</h2>
    <div class="row">

        {% for fast in fasts %}
            <div class="card" style="width: 18rem">
                <!-- <h5 class="card-header">{{fruit.name}}</h5> -->
                <div class="card-body">
                    <h6 class="card-title">
                        
                    </h6>
                    <p class="card-text">
                       Name: {{fast.name}}  Goal: {{fast.goal}} Fast Id: {{fast._id}}
                       
                    </p>
                    
                    <a href="/fasts/show" class="btn btn-info">View {{fast.name}}</a> 
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}