{% layout 'layout.liquid' %}

{% block content %}

   <title>Fasting Plan</title>
    <!-- STYLES -->
    <!-- ============= CONTAINER ============== -->
    
    <div class="container-md">
       
            <h1>{{fast.name}}</h1>
            <h2>Fast for: {{fast.fastHrs}} hours</h2>
            <h2>Diet while fasting: {{fast.dietOn}}</h2>
            <h2>Diet when not fasting: {{fast.dietOff}}</h2>
            <h2>When: {{fast.frequency}}</h2>
            <!-- <h2> {{fast._id}}</h2> -->

       
        <div class="btn-create">
          
           
            <form action="/fasts/new" method="POST">
                 <input type="submit" value="CREATE FAST">
            </form>
            <a href="/fasts/{{fast._id}}/edit" class="btn btn-primary">Edit Fruit</a>
         
        </div>
        <a href="/fasts/" class="back-btn">BACK</a>  
    </div>
{% endblock %}