{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">
        
       <article>
        <div class="card" style="width: 18rem;">
            <img src="/images/meal-g4873efe66_1920.jpg" class="card-img-top" alt="">
            <div class="card-body1">
                <h1 class="card-title">{{fast.name}}</h1>
                <h2>Fast for: {{fast.fastHrs}} hours</h2>
                <h2>Diet while fasting: {{fast.dietOn}}</h2>
                <h2>Diet when not fasting: {{fast.dietOff}}</h2>
                <h2>When: {{fast.frequency}}</h2>
            <!-- <h2> {{fast._id}}</h2> -->
            <!-- </div> -->
        </div>
       
        <button type="button" class="btn btn-warning btn-circle btn-xl"><a href="/fasts/{{fast._id}}/edit">Edit Fast</a></button>
            <form action="/fasts/{{fast._id}}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger btn-circle btn-xl"> 
            </form>
        
        <!-- <div class="btn-create">
          <form action="/fasts/new" method="POST">
                 <input type="submit" value="CREATE FAST">
            </form>
         </div> -->
        <a href="/fasts/" class="btn btn-success btn-circle btn-xl">BACK</a>  
          </article>
      </div>
    </div>

{% endblock %}